body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   font-family: 'Lato', sans-serif;
}
main {
   flex: 1 0 auto;
}
.color-principal-marca{
   background-color: var(--color-marca);
}
.color-texto-marca{
   color: var(--color-marca);
}

/* Header top aviso */
.header-top_aviso{
   overflow-x: hidden;
   position: relative;
   background-color: rgba(0, 0, 0, 0.1);
}

.header-top_aviso::before,
.header-top_aviso::after{
   position: absolute;
   content: '';
   top: 0;
   bottom: 0;
   z-index: 1;
   width: 9px;
}
.header-top_aviso::before{
   left: 0;
   background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
}
.header-top_aviso::after{
   right: 0;
   background: linear-gradient(to left, rgba(0, 0, 0, 0.1), transparent);
}



.header-top_aviso_texto{
   white-space: nowrap;
   animation: slide-aviso-top 25s linear infinite;
   transform: translateX(100%);
   margin: 0 0 0 0;
}
.header-top_aviso:hover .header-top_aviso_texto{
   animation-play-state: paused;
}
@keyframes slide-aviso-top{
   0%{
      transform: translateX(100%);
   }
   100%{
      transform: translateX(-100%);
   }
}
/* Header top aviso */
.logo-marca img{
   max-width: 260px;
   max-height: 80px;
}

.menu li label{
   padding: 12px 20px;
   border-radius: 7px;
   margin-left: 5px;
   color: rgb(60, 60, 60);
   font-size: 16px;
   cursor: pointer;
}

.menu li:hover label,
input[name="menu_item"]:checked + label{
   background-color: rgb(226, 226, 226);
}

.info-usuario{
   position: relative;
   max-width: 250px;
   width: 100%;
   border-radius: 10px;
}

.info-usuario_codigo,
.info-usuario_icono{
   position: absolute;
   top: 0;
}

.info-usuario_codigo{
   right: 0;
   font-size: .8rem;
}

.info-usuario_icono{
   left: 0;
   top: 50%;
   transform: translate(-50%,-50%);
   padding: 5px 10px;
   background-color: white;
   border-radius: 50%;
   box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

.info-usuario_icono svg{
   width: 25px;
}

.info-usuario div .label{
   font-weight: 700;
}

.info-usuario div p{
   line-height: 10px;
}

.recarga_aqui{
   cursor: pointer;
   /* border-radius: 50%; */
   /* border: 1px dashed grey; */
   max-width: 150px;
   width: 100%;
   height: 100%;
   position: relative;
}

.recarga_aqui .svg-positioned{
   position: absolute;
   /* width: 40px;
   animation: oscile-svg 9s ease-out infinite; */
}

.recarga_aqui .svg-phone{
   top: 19%;
   left: 8px;
   width: 40%;
   transform: rotate(-10deg);
   animation: rotate-phone 2s infinite ease-in-out;
   transform-origin: 100% 70%;
}

.recarga_aqui .svg-phone.d2{
   top: 28%;
   left: 23px;
   width: 40%;
}

.recarga_aqui .svg-text{
   top: 50%;
   right: 0;
   width: 55%;
   transform: translateY(-50%) rotate(10deg);
   animation: scale-out-text 2s infinite ease-in-out;
}

.recarga_aqui .svg-text path{
   fill: var(--color-marca);
   /* fill: rgb(20, 231, 214); */
}

.recarga_aqui .back-svg{
   width: 150px;
   height: 100%;
   max-height: 100px;
}

.recarga_aqui:hover svg{
   animation-play-state: paused;
}
@keyframes scale-out-text{
   100%,0%{
      transform: translateY(-50%) rotate(10deg) scale(1);
   }
   80%{
      transform: translateY(-50%) rotate(10deg) scale(1.3);
   }
}
@keyframes rotate-phone{
   100%,60%,0%{
      transform: rotate(-10deg);
   }
   80%,40%{
      transform: rotate(10deg);
   }
}

/* Tarjetas de saldo */
.saldo_card{
   border: 1px solid rgb(190, 190, 190);
   max-width: 180px;
   width: 100%;
   border-radius: 10px;
   transition: border .2s ease-in-out;
}

.saldo_card:hover svg{
   transform: scale(1.2);
}

.saldo_card svg{
   height: 40px;
   margin-bottom: 5px;
   transition: transform .2s ease-in;
}
.saldo_card .label{
   color: rgb(43, 43, 43);
   font-size: 1rem;
   font-weight: 700;
}
.saldo_card .value{
   font-size: 1.1rem;
}

.saldo_traslado{
   position: absolute;
   background-color: white;
   border: 5px solid var(--color-marca);
   border-radius: 50%;
   padding: 5px 10px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   z-index: 1;
   cursor: pointer;
}

.saldo_traslado:hover ~ .row .saldo_rec,
.saldo_traslado:hover ~ .row .saldo_mult,
.saldo_traslado:hover ~ .row .saldo_rec .cls-3-saldo-recargas-2,
.saldo_traslado:hover ~ .row .saldo_mult .cls-3-saldo-multi-2,
.saldo_traslado:hover ~ .row .saldo_rec .cls-2-saldo-recargas-2,
.saldo_traslado:hover ~ .row .saldo_mult .cls-2-saldo-multi-2{
   border: 1px solid var(--color-marca);
   fill: var(--color-marca) !important;
}

.saldo_traslado svg{
   width: 45px;
}

/* Tarjetas de saldo */

/* Carousel */
.carousel_arrow{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
   color: grey;
   transition: color .2s;
}

.carousel_arrow:hover i.material-icons{
   color: black;
}

.carousel_prev{
   left: 0;
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.carousel_next{
   right: 0;
   box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}
/* Carousel */
